@charset "utf-8";
#bgmBtn {
    /*position: absolute;*/
    display: flex;
  justify-content: center;
  margin:10px auto 0;/*수정 됨*/
width:100%;
height:auto;
   
}

/*bgmBtn쪽 추가 css*/

#bgmBtn #bgmStatus[value="prev"] ~ .prev {
    color: var(--bad-color);
}

#bgmBtn #bgmStatus[value="next"] ~ .next {
    color: var(--bad-color);
}

/*nav쪽 추가*/
nav h1{margin:0;}

/*bgm쪽 추가 css*/

#videoTitle {
    width: 60%;
    flex: 0 0 auto;
    position: relative;
    color: #333;
    overflow: hidden;
    text-align: center;
    margin: 0 10px;
    background: white;
    border-radius: 30px;
}

#marqueeText {
    display: inline-block;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}


@media screen and (max-width: 639px) {    
    #bgmBtn {
        display: flex;/*none에서 수정*/
    }
}

