@charset "utf-8";

.diary-text table{border:1px solid black; 
                   width:50%;
                   border-collapse: collapse;}

.diary-text table tr td{padding:10px;
                        border: 1px solid black;}

table.sns-board{width:100%;
               border:none;}
table.sns-board tr td{text-align:center;
                      border:none;
                       border-bottom:1px solid gray;
                     width:20%;}

table.sns-board tr th{text-align: left;
                       border-bottom:1px solid gray;
                      border-left:1px solid gray;
                      border-right:1px solid gray;
                     width:60%;
                     padding:0 0 0 10px;
                     overflow:hidden;}

table.sns-board tr th a{
  text-decoration: none;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;}

table.sns-board .date{
  position: static;
}
/*아이디가 길어지면 ...으로 바뀝니다. 그게 싫으시면 밑의 부분을 통째로 없애주세요*/
.sns-id{padding:0;
       overflow-wrap: break-all;
        overflow: hidden;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;}
